# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\kwinn\OneDrive\Documents\Kwinns\School\CIS225\projects\projects\chapter08\zuul-with-enums-v2\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
